<div class="table-container">                         
<table class="table table-striped">
    <thead>
        <tr>
            <th>Candidate Id</th>
            <th>Candidate Name</th> 
            <th>Skills</th>           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let candidate of this.filteredCandidateList">
           <td>{{candidate.id}}</td>                    
            <td>{{candidate.name}}</td>
            <td>{{candidate.skillTags.join(',')}}</td>              
        </tr>
    </tbody>
</table>

</div>
